* {
  outline: none;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 750px;
  height: 660px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 98%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#funcion-input input {
  font-size: 16px;
}

#botones-matematicos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

#botones-matematicos button {
  padding: 10px;
  background-color: #219ebc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#botones-matematicos button:hover {
  background-color: #023047;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #264653;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #023047;
}

#resultado {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

#resultado-texto {
  font-size: 15px;
  color: #333;
}

.intervalos > input {
  width: 80%;
  margin-bottom: 0px;
}

.intervalos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
